.container {
  padding: 24px 50px;
  padding-top: 100px;
  background-color: #fff;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 24px 24px;
    padding-top: 120px;
  }
}
