.container {
  padding: 24px 50px;
  padding-top: 100px;
  background: #fff;
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 24px 24px;
    padding-top: 120px;
  }
}
