.carouselPhotos {
  &__portada {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .elementsImageContainer {
    height: 100%;
    &__elementImage {
      width: 100%;
      height: 120px;
      object-fit: cover;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
