.header {
  z-index: 1;
  background-color: white;
  max-width: 1400px;
  margin: 0 auto;

  &__titleApp {
    font-weight: 700;
    font-size: 24px !important;
  }

  width: 100%;
  &__selectFlag {
    width: 75px;
    &__content {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: center;
      img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        object-fit: cover;
      }
      span {
        font-size: 13px;
        font-weight: bold;
        padding-right: 5px;
      }
    }
  }

  .subMenu {
    text-align: center;
    width: 10px;
     &--small {
      width: 30px;
      margin: 0px 5px 0px 5px!important;
      text-align: center;
     }
    &--large {
      width:100px;
      text-align: center;
      margin: 0px 5px 0px 5px!important;
    }
  }

  &__icon {
    color: black;
    &:focus {
      color: black;
    }
  }

  a {
    color: black !important;
    font-size: 16px;
  }

  .ant-select-selector {
    height: 30px !important;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: white !important;
    border: none !important;
    color: black !important;
  }

  .ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon,
  .ant-menu-dark .ant-menu-item-selected .anticon {
    color: rgb(32, 97, 218);
  }

  .ant-menu.ant-menu-dark .ant-menu-item-selected,
  .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: white !important;
    color: black !important;
  }
  li {
    font-weight: bold;
    color: black !important;

    &:hover,
    &:focus {
      background-color: white !important;
      color: black !important;
    }
  }
  .ant-menu.ant-menu-dark,
  .ant-menu-dark .ant-menu-sub,
  .ant-menu.ant-menu-dark .ant-menu-sub {
    background: white!important;
    &:hover,
    &:focus {
      background-color: white !important;
      color: black !important;
    }
  }

  .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder,
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
  .ant-menu-item,
  .ant-menu-submenu-title {
    padding: 0px !important;
  }

  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected{
    border-bottom: none;
  }
  .ant-menu-horizontal{
    border-bottom: none;
  }
  .ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
    border-bottom: none;
  }
}
