.sessionFeatures{
    font-family: "PT Sans", sans-serif;
     display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 0px 2em 0px;
    min-height: 100vh;  
    background-image: url("../assets/img/background.svg");
    background-repeat: no-repeat;
    background-size: contain;

    &__title{
        font-weight: 700;
        padding-bottom: 2em;
        font-size: 32px;
       align-self: center;
    }

  

    &__card{
        border-radius: 5px;
        .imageFeature{
            width: 80px;
            height: 80px;
            align-self: center;
        }

        .containerImage{
            display: flex;
            justify-content: center;
            width: 120px;
            height: 120px;
            border-radius: 100px;
            box-shadow: 0px 10px 31px -11px rgba(189,183,189,1);
            margin-bottom: 16px;
        }
    
        .titleFeature{
            font-weight: 700;
        }
         
        p{
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: 300;
            opacity: 0.8;
            padding-top: 5px;
        }
    }
 
}